<section class="container">
    <div class="row d-flex justify-content-center mx-1 mx-md-1">
        <div class="col-12">
            <h1 class="display-5 font-weight-stone-600 text-center">Comment ça marche ?</h1>
        </div>
        <div class="col-12 col-md-8 col-lg-7">
            <div class="timeline-main">
                <ul class="stepper stepper-vertical timeline timeline-animated pl-0">

                    <li>
                        <a>
                            <span class="circle deep-orange z-depth-1-half">
                                <i class="fas fa-headset" aria-hidden="true"></i>
                            </span>
                        </a>

                        <div class="step-content z-depth-1 ml-1 px-4 pt-4 pb-2">
                            <h4 class="h4-responsive font-weight-stone-600 mb-3 deep-orange-text">Prise de contact</h4>
                            <p class="dark-grey-text" style="font-size: .95rem">
                                Contactez-nous par téléphone, email ou via le formulaire de contact.
                            </p>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <a>
                            <span class="circle bg-primary z-depth-1-half">
                                <i class="fas fa-sync-alt" aria-hidden="true"></i>
                            </span>
                        </a>

                        <div class="step-content z-depth-1 mr-xl-1 px-4 pt-4 pb-2">
                            <h4 class="h4-responsive font-weight-stone-600 mb-3 text-primary">Analyse du besoin</h4>
                            <p class="dark-grey-text" style="font-size: .95rem">
                                Décrivez votre projet et indiquez-nous votre budget.
                            </p>
                        </div>
                    </li>
                    <li>
                        <a>
                            <span class="circle success-color z-depth-1-half">
                                <i class="fas fa-check" aria-hidden="true"></i>
                            </span>
                        </a>

                        <div class="step-content z-depth-1 ml-1 px-4 pt-4 pb-2">
                            <h4 class="h4-responsive font-weight-stone-600 mb-3 text-success">Validation du devis</h4>
                            <p class="dark-grey-text" style="font-size: .95rem">
                                Nous préparerons un plan que vous pourrez examiner et approuver.
                            </p>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <a>
                            <span class="circle bg-default z-depth-1-half">
                                <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                            </span>
                        </a>

                        <div class="step-content z-depth-1 mr-xl-1 px-4 pt-4 pb-2">
                            <h4 class="h4-responsive font-weight-stone-600 mb-3 text-default">
                                Lancement du projet
                            </h4>
                            <p class="dark-grey-text" style="font-size: .95rem">
                                Une fois d'accord sur tous les détails, le projet commence.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

