<section class="container-fluid app-home-question">
    <div class="row p-0 mb-4">
        <div class="col-12 p-0">
            <div class="card card-cascade wider reverse">
                <div class="view view-cascade">
                    <img class="card-img-top" src="{{ asset('images/data/2.jpg') }}"
                         alt="Card image cap">
                    <a>
                        <div class="mask flex-center rgba-stone-strong">
                            <div class="row mb-5 pb-5">
                                <div class="col-12 col-md-10 col-lg-8">
                                    <h1 class="h1-responsive font-weight-stone-600 px-3 px-md-5 text-white">
                                        Voici quelques-unes de vos questions fréquentes autour du web
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center px-md-5">
                    <div class="row mt-md-4">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="accordion md-accordion mb-4" id="accordionEx1" role="tablist" aria-multiselectable="true">
                                <div class="card grey lighten-3 border-0">
                                    <div class="card-header" role="tab" id="headingTwo1">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1"
                                           aria-expanded="false" aria-controls="collapseTwo1">
                                            <div class="mb-0 d-flex justify-content-between align-items-center
                                                    text-left dark-grey-text font-weight-stone-500">
                                                Est-ce que je serai propriétaire de mon site web ? <i class="fas fa-angle-down rotate-icon ml-4"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1"
                                         data-parent="#accordionEx1">
                                        <div class="card-body font-weight-stone-500 text-left">
                                            Tout à fait ! Et si vous souhaitez faire des modifications plusieurs mois ou
                                            plusieurs années après la mise en ligne, vous n’aurez aucune obligation de
                                            repasser par <span class="text-primary">{{ settings.name }}</span>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="accordion md-accordion mb-4" id="accordionEx2" role="tablist" aria-multiselectable="true">
                                <div class="card grey lighten-3 border-0">
                                    <div class="card-header" role="tab" id="headingTwo2">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapseTwo2"
                                           aria-expanded="false" aria-controls="collapseTwo2">
                                            <div class="mb-0 d-flex justify-content-between align-items-center
                                                    text-left dark-grey-text font-weight-stone-500">
                                                Pourrais-je modifier moi-même mon site web ? <i class="fas fa-angle-down rotate-icon ml-4"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                                         data-parent="#accordionEx2">
                                        <div class="card-body font-weight-stone-500 text-left">
                                            Bien entendu ! Nous utilisons des technologies très simple d’utilisation.
                                            C’est très intuitif et nous vous formerons à sa maintenance, à l’ajout de produits,
                                            etc. Si vous ne souhaitez pas vous en charger, nous sommes là.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="accordion md-accordion mb-4" id="accordionEx3" role="tablist" aria-multiselectable="true">
                                <div class="card grey lighten-3 border-0">
                                    <div class="card-header" role="tab" id="headingTwo3">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx3" href="#collapseTwo3"
                                           aria-expanded="false" aria-controls="collapseTwo3">
                                            <div class="mb-0 d-flex justify-content-between align-items-center
                                                    text-left dark-grey-text font-weight-stone-500">
                                                Combien de temps faut-il pour faire un site internet ? <i class="fas fa-angle-down rotate-icon ml-4"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseTwo3" class="collapse" role="tabpanel" aria-labelledby="headingTwo3"
                                         data-parent="#accordionEx3">
                                        <div class="card-body font-weight-stone-500 text-left">
                                            Cela dépend de vous, de votre capacité à nous envoyer du contenu,
                                            mais aussi de la charge de travail qui est importante en ce moment.
                                            Il faut en général compter 1 mois.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="accordion md-accordion mb-4" id="accordionEx4" role="tablist" aria-multiselectable="true">
                                <div class="card grey lighten-3 border-0">
                                    <div class="card-header" role="tab" id="headingTwo4">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx4" href="#collapseTwo4"
                                           aria-expanded="false" aria-controls="collapseTwo4">
                                            <div class="mb-0 d-flex justify-content-between align-items-center
                                                    text-left dark-grey-text font-weight-stone-500">
                                                Comment baisser les coûts de mon projet web ? <i class="fas fa-angle-down rotate-icon ml-4"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseTwo4" class="collapse" role="tabpanel" aria-labelledby="headingTwo4"
                                         data-parent="#accordionEx4">
                                        <div class="card-body font-weight-stone-500 text-left">
                                            En évitant de réinventer la roue ! Il existe des extensions moins couteux,
                                            vous éviteront de développer une fonctionnalité coûteuse pendant des heures
                                            et des heures. Nous savons ce qui existe, c’est notre métier de vous
                                            conseiller pour baisser ces coûts.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center my-2">
                            <a href="{{ path('app_devis') }}" class="btn btn-primary btn-lg">
                                Demander un devis <i class="fas fa-calculator ml-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

