<div class="view jarallax service-intro" data-jarallax='{"speed": 0.2}' style="background-image: url({{ vich_uploader_asset(service, 'file') }}); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-black-strong">
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row pt-3 pt-md-5 mt-5">
                <div class="col-md-12 mb-3">
                    <div class="intro-info-content text-center">
                        <h1 class="display-3 amber-text font-weight-stone-600 mb-4 mb-lg-3 wow fadeInDown" data-wow-delay="0.3s">{{ service.name }}</h1>
                        <h6 class="white-text wow fadeInDown title mt-1 mx-3 mx-md-4 mx-lg-5"  data-wow-delay="0.3s">
                            {{ service.description|raw }}
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bc text-white mb-5">
    {{ wo_render_breadcrumbs({ viewTemplate: '_breadcrumb.html.twig', listClass: 'breadcrumb mb-5',
        itemClass: 'breadcrumb-item', separator: '>', separatorClass: 'fas fa-angle-right'}) }}
</div>

