<section class="container-fluid">
    <div class="row p-0">
        <div class="col-12 p-0">
            <div class="streak streak-photo mb-5 wow fadeInUp"
                 style="background-image:url({{ asset('images/data/1.jpg') }})">
                <div class="flex-center white-text rgba-orange-strong">
                    <ul class="mb-0 list-unstyled">
                        <li>
                            <h1 class="h1-responsive font-weight-stone-600 px-md-5 px-lg-0">
                                Laissez-nous vous aider à développer votre activité !
                            </h1>
                        </li>
                        <li class="mb-0">
                            <a href="{{ path('app_devis') }}" class="btn btn-primary btn-lg btn-rounded font-weight-stone-600 mt-2 mb-2 mb-md-3">
                                Demander un devis <i class="fas fa-calculator ml-2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>