{% import 'site/post/macro/__list_post.html.twig' as __view %}

<section class="container">
    {#<div class="row mt-5">
        <div class="col-12">
            <h1 class="display-5 text-center font-weight-stone-600 wow fadeIn mt-md-3">
                Tout nos articles
            </h1>
        </div>
    </div>#}
    <div class="row mt-5 pt-3 mx-md-3">
        <div class="col-12 mt-1">
            {% if posts|length > 0 %}
                <section class="section extra-margins pb-3 text-center text-lg-left wow fadeIn">
                    <div class="row mb-4">
                        {% for post in posts %}
                            {{ __view.list(post) }}
                        {% endfor %}

                        <div class="col-12 d-flex justify-content-center mt-2">
                            {{ knp_pagination_render(posts, 'Ui/_pagination.html.twig') }}
                        </div>
                    </div>
                </section>
            {% else %}
                <div class="row app-user d-flex justify-content-center">
                    <div class="col-12 col-md-8 text-center mt-3 mt-md-5">
                        <h3 class="text-secondary h3-responsive font-weight-stone-600">
                            Aucun article sur le site
                        </h3>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>

