{% import 'site/post/macro/__list_post.html.twig' as __view %}

{% if posts|length > 0 %}
    <section class="container">
        <div class="row my-5 mb-4 mx-md-4">
            <div class="col-12">
                <h1 class="display-5 font-weight-stone-600 text-center mb-3 mb-md-5 wow fadeInDown">Nos publications</h1>
            </div>
            {% for post in posts %} 
                {{ __view.list(post) }}
            {% endfor %}

            <div class="col-12 text-center mt-3">
                <a href="{{ path('app_post_index') }}" class="btn btn-primary btn-lg wow fadeInUp">
                    Tous les articles <i class="fas fa-long-arrow-alt-right right"></i>
                </a>
            </div>
        </div>
    </section>
{% endif %}
